<footer id="footer">
    <div class="container-fluid no-gutters">
        <div id="icons">
            <div class="container">
                <div class="row">
                    <div class="col-2 text-center">
                        <div class="profile">
                            <img src="img/world.svg" class="user">

                        </div>
                        <h3 class="logo-heading">0% Commission</h3>
                    </div>
                    <div class="col-2 text-center">
                        <div class="profile">
                            <img src="img/free-delivery.svg" class="user">
                        </div>
                        <h3 class="logo-heading">0% Commission</h3>
                    </div>
                    <div class="col-2 text-center">
                        <div class="profile">
                            <img src="img/percentage.svg" class="user">
                        </div>
                        <h3 class="logo-heading">0% Commission</h3>
                    </div>
                    <div class="col-2 text-center">
                        <div class="profile">
                            <img src="img/world.svg" class="user">
                        </div>
                        <h3 class="logo-heading">0% Commission</h3>
                    </div>
                    <div class="col-2 text-center">
                        <div class="profile">
                            <img src="img/free-delivery.svg" class="user">
                        </div>
                        <h3 class="logo-heading">0% Commission</h3>
                    </div>
                    <div class="col-2 text-center">
                        <div class="profile">
                            <img src="img/percentage.svg" class="user">
                        </div>
                        <h3 class="logo-heading">0% Commission</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="col-3" id="about-section">
                        <span id="about-logoheading">Instant deal</span>
                        <div>
                            <a href="https://prashantkhanal.com.np"><img src="img/download.png" alt="apple store" class="appStorelogo "></a>
                            <a href="https://prashantkhanal.com.np"><img src="img/amd.png" alt="apple store" class="appStorelogo "></a>
                        </div>
                    </div>
                    <div class="col-3" id="about-section">
                        <ul>
                            <span class="a-title">Links</span>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">contact
                                    us</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">about
                                    us</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">faq's</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">hiring</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3" id="about-section">
                        <ul>
                            <span class="a-title">Policy</span>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">contact
                                    us</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">contact
                                    us</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">about
                                    us</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">faq's</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu">hiring</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3" id="about-section">
                        <ul>
                            <span class="a-title">contact us</span>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu"><i
                                        class="fas fa-phone-square-alt fa-1x"></i>Call: 9840337736</a>
                            </li>
                            <li><a href="https://prashantkhanal.com.np" target="_blank" class="about-subMenu"><i
                                        class="fas fa-envelope-square fa-1x"></i>Email: inf0@gmail.com</a></li>
                        </ul>
                        <div class="favicon">
                            <span><a href="https:prashantkhanal.com.np" target="_blank"><i
                                        class="fab fa-facebook fa-2x  aboutMediaICon"></i></a></span>
                            <span>
                                <a href="https:prashantkhanal.com.np" target="_blank"><i
                                        class="fab fa-instagram  fa-2x  aboutMediaICon"></i></a>
                            </span>
                            <span>
                                <a href="https:prashantkhanal.com.np" target="_blank"><i
                                        class="fab fa-twitter fa-2x  aboutMediaICon"></i></a>
                            </span>
                            <span>
                                <a href="https:prashantkhanal.com.np" target="_blank"><i
                                        class="fab fa-linkedin fa-2x aboutMediaICon"></i></a>
                            </span>
                            <span>
                                <a href="https:prashantkhanal.com.np" target="_blank"><i
                                        class="fab fa-pinterest fa-2x  aboutMediaICon"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="paymentlogo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2 class="heading-primary" id="copyright">Copyright<i class="fa fa-copyright" aria-hidden="true"></i>2021 Prashant. All Reserved
                        </h2>
                    </div>
                    <div class="col-sm-7">
                        <img src="img/esewa.png" alt="payment-image" class="payment-image"></a>
                        <img src="img/prabhupay.jpg" alt="payment-image" class="payment-image"></a>
                        <img src="img/fonepay.png" alt="payment-image" class="payment-image"></a>
                        <img src="img/Capture.jpg" alt="payment-image" class="payment-image"></a>
                        <img src="img/IME_Pay_logo.png" alt="payment-image" class="payment-image"></a>
                        <img src="img/fonepay.png" alt="payment-image" class="payment-image"></a>
                        <img src="img/khalti.png" alt="payment-image" class="payment-image"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row endSection">
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">independent
                                seller</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" target="_blank" class="footer-heading">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3" id="about-section">
                    <span class="about-title">Instant deal</span>
                    <ul>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">start
                                selling</a></li>
                        <li><a href="https://prashantkhanal.com.np" class="footer-heading" target="_blank">Sell</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>